<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Forum Ipsem</title>
</head>
<body>
    <div class = "headbar">
      <div class="title">
        <header class="header-title">Forum Ipsem</header><br>
        <p class="header-subtitle">"Thanks, I hate it."</p>
      </div>
      <nav class="header-links">
        <ul>
          <li class="header-link">
            <a href="/"><button class="navbtn">Home</button></a>
          </li>
          <li class="header-link">
            <a href="/threads"><button class="navbtn">Threads</button></a>
          </li>
          <li class="header-link">
            <a href="/users"><button class="navbtn">Users</button></a>
          </li>
          <li class="header-link">
            <a href="/posts"><button class="navbtn">Posts</button></a>
          </li>
          <li class="header-link"> 
            <a href="/users/new_user"><button class="navbtn">Create Account</button></a>
          </li>
        </ul>
      </nav>
    </div>
    <hr>
    {% block content %} 

    {% endblock %}
</body>
</html>