{% extends "base.html" %} 

{% block content %} 
<p class="random-quote">"{{quote}}"</p>

<main class="home-content">
    <section class="thread-container">
        <h2>Current Threads</h2>
        <hr>
        {% for thread in threads %} 
            <a href="/threads/{{thread.thread_id}}"><h3>{{thread.title}}</h3></a>
            <h5>{{thread.creator}}</h5>
            <hr>
        {% endfor %}
    </section>

    <section class="user-container">
        <h2>Active Users</h2>
        <hr>
        {% for user in users %} 
            <a href="/users/{{user.user_id}}">{{user.user_name}}</a>, 
        {% endfor %}
    </section>
</main>
{% endblock %}