{% extends "base.html" %} 

{% block content %}
<h1 id="create-new-thread">Create New Thread</h1>
<div class="new-thread-form">
    <form action="/threads" method="post">
        <div>
            <label for="creator">User:</label>
            <select id="user-name" name="creator">
            {% for user in users %}
                <option value="{{user.user_name}}">
                {{user.user_name}}
                </option>
            {% endfor %}
            </select>
        </div>
        <br>
        <div>
            <input class="new-title" type="text" name="title" placeholder="Thread Title Go Here">
        </div>
        <br>
        <div>
            <button class="acc-btn" type="submit">Create Thread</button>
        </div>
    </form>
    <br>
</div>
<hr>
<div class="thread-list">
    {% for thread in threads %}
        <div class="thread-listing">
            <section class="thread-info">
                <h1><a href="/threads/{{thread.thread_id}}">{{thread.title}}</a></h1>
                <div class="locked">{% if thread.locked == True %}[THREAD LOCKED]{% endif %}</div>
                <h4>Created by {{thread.creator}}</h4>
            </section>
            <section class="delete-thread">
                <form action="/threads/{{thread.thread_id}}/delete" method="POST">
                    <button class="del-btn">Delete Thread</button>
                </form>
            </section>
        </div>
        <hr>
    {% endfor %}
</div>
{% endblock %}