{% extends "base.html" %} 

{% block content %} 
<h1>{{user.user_name}}</h1>
<img src="../../static/img/{{user.avatar_id}}.png">
<hr>
<h2>All Posts by User</h2>
{% for post in posts %} 
    <div class="user-posts">
        <!-- <section class="user-info">
            {% for user in users %} 
                {% if user.user_id == post.user_id %}
                    <img class="avatar" src="../../static/img/{{user.avatar_id}}.png">
                    <h4>{{user.user_name}}</h4>
                {% endif %}
                {% if user.user_id == post.user_id and user.admin_status == True %}
                    <h4 id="admin-tag">[Admin]</h4>
                {% elif user.user_id == post.user_id and user.account_banned == True %} 
                    <h4 id="ban-tag">[BANNED]</h4>
                {% endif %}
            {% endfor %}
        </section> -->
        <section class="post">
            <article>{{post.post_content}}</article>
            <div class="thread-link">
                {% for thread in threads %} 
                    {% if thread.thread_id == post.thread_id %} 
                    <a href="/threads/{{thread.thread_id}}"><h3>{{thread.title}}</h3></a>
                    {% endif %} 
                {% endfor %}
            </div>
        </section>
    </div>
    <br>
{% endfor %}
{% endblock %}