body {
    background-color: black;
    font-family: 'Oswald', sans-serif;
    color: white;
    background-image: url("/static/img/bgbw.png");
    background-size: cover;
    scrollbar-color: dark;
}

/* TITLE BAR */

.headbar {
    display: flex;
    justify-content: space-between;
}

.title{
    display: flex;
    flex-direction: column;
    margin: 10px 0px 0px 10px;
}

.header-title{
    font-size: 42px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1;
}

.header-subtitle {
    font-size: 24px;
    font-style: italic;
    font-family: monospace;
    line-height: 1px;
}

.header-links{
    display: flex;
    justify-content: flex-end;
    padding: 70px 20px 0px 0px;
}

.header-link{
    display: inline-block;
}

.navbtn{
    background-color: maroon;
    font-family: monospace;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
}

.thread-header{
    display: flex;
    justify-content: space-between;
    background-color: black;
}

.title-info {  
    padding: 5px 5px 5px 5px;
    background-color: black;
}

.title-info > h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 32px;
    text-shadow: 0 0 0.2em #8F7;
}

.lock-thread{
    padding: 70px 20px 10px 10px;
}

.lock-btn{
    width: auto;
    height: auto;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 24px;
    background-color: black;
    color: red;
    text-shadow: 0 0 0.2em hotpink;
    border-color: greenyellow;
    border-radius: 5px;
}

.locked {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 32px;
    text-shadow: 0 0 0.2em red;
}

/* TITLE BAR END */

/* HOME PAGE */

.random-quote {
    font-family: monospace;
    text-align: end;
    margin: 25px;
    background-color: black;
}

.home-content{
    display: flex;
    flex-direction: row;
}

.home-content > h2 {
    padding: 0px;
}

.thread-container {
    width: 75%;
    margin: auto;
    padding: 15px;
    border: greenyellow 3px dashed;
    background-color: rgb(49, 49, 49);
}

.thread-list{
    height: 400px;
    overflow: scroll;
}

.thread-listing {
    display: flex;
    justify-content: space-between;
    background-color: rgb(34, 34, 34);
    padding: 3px 3px 3px 20px;
}

.thread-info > h1 {
    font-size: 54px;
    line-height: 0px;
}

.thread-info > h4 {
    font-size: 24px;
    line-height: 0px;
}

.delete-thread{
    padding: 70px 20px 10px 10px;
}

.del-btn {
    width: auto;
    height: auto;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 24px;
    background-color: black;
    color: red;
    text-shadow: 0 0 0.2em hotpink;
    border-color: greenyellow;
    border-radius: 5px;
}

.user-container{
    width: 250px;
    height: 400px;
    padding: 5px;
    border: greenyellow 3px dashed;
    background-color: rgb(49, 49, 49);
}

/* HOME PAGE END */

.profile-grid {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 70vw;
    margin: auto;
}

.profile-card {
    display: inline;
    width: 15%;
    height: 300px;
    padding: 15px;
    margin: auto;
    border: dotted 3px greenyellow;
    background-color: rgb(34, 34, 34);
}

.posts-container {
    height: 635px;
    width: auto;
    margin: auto;
    overflow: scroll;
    scrollbar-color: white black;
}

.post-container{
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    margin: 10px;
}

.post > article{
    font-size: 18px;
}

.post-buttons{
    display: flex;
    justify-content: flex-end;
    gap: 5px;
}

.p-btn{
    background-color: black;
    color: red;
    text-shadow: 0 0 0.2em hotpink;
    border-color: greenyellow;
    border-radius: 3px;
}

.signature {
    font-family: monospace;
    font-style: italic;
}

.thread-link {
    display: flex;
    justify-content: flex-end;
}

.make-post{
    display: flex;
    justify-content: center;
}

.confirm-post{
    background-color: black;
    color: red;
    font-size: 24px;
    text-shadow: 0 0 0.2em hotpink;
    border-color: greenyellow;
    border-radius: 3px;
}

.user-info{
    width: 150px;
    height: 200px;
    padding: 15px;
    border: solid 3px greenyellow;
    line-height: 1px;
    background-color: black;
}

.post {
    width: 75%;
    height: 200px;
    padding: 15px 15px 15px 15px;
    border: solid 3px greenyellow;
    background-color: black;
}

.post > article {
    padding: 15px 30px 15px 15px;
}

#post-id {
    text-align: right;
    margin:0px;
}

.avatar {
    width:128px;
    height:auto;

}

.avatar-selection {
    width:40%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.agreement{
    font-family: monospace;
    font-style: italic;
}

#admin-tag {
    color: red;
    font-family: 'Courier New', Courier, monospace;
    line-height: 5px;
}

#ban-tag {
    color: red;
    font-family: 'Courier New', Courier, monospace;
}

a {
    color: yellow;
}

a.fill-div {
    display:block;
    width: 100%;
    height: 100%;
}