body {
    background-color: black;
    color: white;
}

.avatar {
    width:128px;
    height:auto;

}

.avatar-selection {
    width:40%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.agreement{
    font-family: monospace;
    font-style: italic;
}

#admin-tag {
    color: red;
    font-family: 'Courier New', Courier, monospace;
}

#ban-tag {
    color: red;
    font-family: 'Courier New', Courier, monospace;
}

a {
    color: yellow;
}